
<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

<%= link_to "New bookmark", new_list_bookmark_path(@list) %>
<% @bookmarks.each do |bookmark| %>
    <%= bookmark.comment %>- <%= bookmark.movie.title %> <%= link_to "delete bookmark", list_bookmark_path(@list, bookmark), data: { turbo_method: :delete, turbo_confirm: "dont you dare" } %>
<% end %>
